<% provide(:title, "About the Moloney Collection") %>
<div class='container-fluid'>
  <h4>ABOUT MICK MOLONEY</h4>
  <div class='row'>
    <div class='col-xxs col-xs-4'>
      <%= image_tag "about_moloney.jpg" %>
    </div>
    <div class='col-xxs col-xs-8'>
      <p>
        Dr. Mick Moloney (1944 - ) is the Global Distinguished Professor of Music and Irish Studies at New York University’s Glucksman Ireland House. Born in Limerick, Ireland, he emigrated to the United States in 1973, earning his Ph.D. in folklore and folk life from the University of Pennsylvania before moving to New York City in 2006. A musician and folklorist, Moloney has recorded and produced over forty albums of traditional music, acted as advisor for scores of festivals and concerts, and served as artistic director for the musical ensemble The Green Fields of America. In 1999 he was awarded the National Heritage Award on behalf of the National Endowment for the Arts, the highest official honor a traditional artist can receive in the United States. Moloney is the author of <em>Far from the Shamrock Shore</em> (2002) and numerous essays on Irish music and musical culture, and served as the co-editor of <em>Close to the Floor: Irish Dance from the Boreen to Broadway</em> (2009).
      </p>
    </div>
  </div>
</div>

<div class='container-fluid grey_section'>
  <h4>ABOUT THE COLLECTION</h4>
  <div class='row'>
    <div class='col-xxs col-xs-12'>
    <%= image_tag "about_collection.jpg" %>
    <p>
The Mick Moloney Irish American Music and Popular Culture Collection at the Archives of Irish America consists of a variety of materials documenting Moloney’s research on Irish traditional music, as well as representations of Irish and Irish Americans in popular culture. New York University’s Division of Libraries, in conjunction with Glucksman Ireland House at New York University, purchased the collection in 2006 and transferred it to the archives.
    </p>
    <p>
The collection is comprised of five subcollections: the Commercial Recordings Collection (AIA 031.001), commercially released sound recordings collected by Moloney; the Field Recordings (AIA 031.002),  which include recordings of céilís, demos, lectures, interviews, rehearsals, private performances, concert performances, and informal sessions made and collected by Moloney documenting the preservation and promotion of the Irish traditional music scene in America; the Personal Papers (AIA 031.003), a collection of photographs, research files, personal correspondence, and scholarly literature concerning folklore, ethnicity, and music collecting acquired and produced through the course of Moloney’s career as a folklorist, producer, musician, and academic; and the Irish Americana collection (AIA 031.004), consisting of sheet music, songsters, joke books, advertisements, postcards, and other forms of printed ephemera documenting the Irish and Irish American image in popular culture, with particular emphasis on ethnic perceptions and representations.
    </p>
    <p>
The Field Recordings, as well as a selection of the sheet music in the Irish Americana collection have been digitized to ensure their long-term preservation and provide greater access thanks to generous support from the Grammy Foundation Grant Program, the New York State [Documentary Heritage Program?], and the Gladys Brooks Foundation.
    </p>
    </div>
  </div>
</div>

