<div class='jumbotron'>
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "home_header.jpg" =%>
      </div>
    </div>
  </div>
</div>

<div class='container'>
  <div class="pullquote">
   
  </div>
</div>

  <div class='container'>
      <%= render @song_grid  %>
  </div>

<div class='container'>
  <div class='row'>

    <div class='col-sm-6'>
    </div>
    <div class='col-sm-6'>
    </div>

  </div>
</div>
