<div class='container'>
  <div class="pullquote">
   
  </div>
</div>

<div class='container'>
  <div class='row'>

    <div class='col-sm-6'>
      <h4>MICK MOLONEY</h4>
    </div>
    <div class='col-sm-6'>
      <h4>THE COLLECTION</h4>
    </div>

  </div>
</div>
