<% provide(:page_bg, image_path("home_header.jpg") ) %>
  <div class='container'>
    <div class='row'>
    <div class='col-lg-4'>
      <h4>MICK MOLONEY</h4>
      <p>Quisque in elit vulputate, rhoncus arcu pulvinar, iaculis est. Fusce mollis purus id enim commodo congue. Aliquam sit amet rhoncus dui. Vestibulum nisl orci, aliquam sed risus nec, dapibus ullamcorper diam. Suspendisse potenti. Proin gravida elementum ex a fermentum. Nullam ut hendrerit ipsum, vel fringilla turpis. Curabitur dapibus, enim sed ultrices feugiat, turpis erat suscipit orci, sit amet tincidunt lectus lacus id ipsum. Nam convallis tellus quam, eget finibus diam scelerisque ac. Donec lacinia, lectus a pretium vulputate, ex magna interdum eros, eu commodo neque nunc auctor quam. Curabitur orci nisl, auctor ac nunc in, lobortis commodo tellus. Aliquam feugiat augue id mi facilisis, sed egestas orci venenatis. Donec sed ante pulvinar, cursus sapien at, auctor sapien. Pellentesque in odio in augue faucibus placerat eu eget sem. Sed eget molestie elit. Nam dictum velit lobortis tellus efficitur, sed fringilla neque tristique.</p>
    </div>
    <div class='col-lg-8'>
      <h4>THE COLLECTION</h4>
      <p>Quisque in elit vulputate, rhoncus arcu pulvinar, iaculis est. Fusce mollis purus id enim commodo congue. Aliquam sit amet rhoncus dui. Vestibulum nisl orci, aliquam sed risus nec, dapibus ullamcorper diam. Suspendisse potenti. Proin gravida elementum ex a fermentum. Nullam ut hendrerit ipsum, vel fringilla turpis. Curabitur dapibus, enim sed ultrices feugiat, turpis erat suscipit orci, sit amet tincidunt lectus lacus id ipsum. Nam convallis tellus quam, eget finibus diam scelerisque ac. Donec lacinia, lectus a pretium vulputate, ex magna interdum eros, eu commodo neque nunc auctor quam. Curabitur orci nisl, auctor ac nunc in, lobortis commodo tellus. Aliquam feugiat augue id mi facilisis, sed egestas orci venenatis. Donec sed ante pulvinar, cursus sapien at, auctor sapien. Pellentesque in odio in augue faucibus placerat eu eget sem. Sed eget molestie elit. Nam dictum velit lobortis tellus efficitur, sed fringilla neque tristique.</p>
    </div>
  </div>
</div>
