<% provide(:title, "Mick Moloney") %>
<div class='jumbotron'>
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "eb_header.jpg" =%>
      </div>
    </div>
  </div>
</div>
<div class='container'>
  <div class='row'>
    <div class='col-xs-12'>
      <p>
        Dr. Mick Moloney (1944 - ) is the Global Distinguished Professor of Music and Irish Studies at New York University’s Glucksman Ireland House. Born in Limerick, Ireland, he emigrated to the United States in 1973, earning his Ph.D. in folklore and folk life from the University of Pennsylvania before moving to New York City in 2006. A musician and folklorist, Moloney has recorded and produced over forty albums of traditional music, acted as advisor for scores of festivals and concerts, and served as artistic director for the musical ensemble The Green Fields of America. In 1999 he was awarded the National Heritage Award on behalf of the National Endowment for the Arts, the highest official honor a traditional artist can receive in the United States. Moloney is the author of Far from the Shamrock Shore (2002) and numerous essays on Irish music and musical culture, and served as the co-editor of Close to the Floor: Irish Dance from the Boreen to Broadway (2009).
      </p>
    </div>
  </div>
</div>

