<% provide(:title, "Rights Statement") %>
<div class='container-fluid'>
  <h4>RIGHTS STATEMENT</h4>
  <div class='row'>
    <div class='col-xs-12'>
<p>The intellectual property status of the materials in these collections varies greatly, due to the assembled nature of the collection, the variety of materials present, and the presence of multiple contributing musicians. A breakdown of the rights status of each subcollection is as follows, the most relevant for this website will be the Field Recordings (AIA 031.002) and the sheet music in the Irish Americana (AIA 031.004): Commercial Recordings (AIA 031.001): Copyright of the items in the collection is either held by their creators or in the public domain, depending on publication date, publication country, and whether or not the work was registered with a copyright notice. Users need not secure permission from the Tamiment Library to publish or reproduce materials in this collection in the public domain; permission to publish or reproduce materials to which original creators hold copyright must be secured from the copyright holder.</p>


    </div>
  </div>
</div>
<div class='container-fluid grey_section'>
  <div class='row'>
    <div class='col-xs-12'>
<p><strong>Field Recordings (AIA 031.002):</strong> Copyright (and related rights to publicity and privacy) to the majority of materials in this collection are held by the musicians or the interviewees and/or their estates. Permission to publish or reproduce materials must be secured from the copyright holder. A small number of contributing musicians or their estates have granted permission for their recordings to be reproduced and made available for research.</p>

<p><strong>Personal Papers (AIA 031.003):</strong> Copyright (and related rights to publicity and privacy) to materials in this collection created by Mick Moloney are held by him. Permission to publish or reproduce materials to which he holds copyright must be secured from the copyright holder.</p>

<p><strong>Irish Americana Collection (AIA 031.004):</strong> Copyright of the items in the collection is either held by their creators or in the public domain, depending on publication date, publication country, and whether or not the work was registered with a copyright notice. Users need not secure permission from the Tamiment Library to publish or reproduce materials in this collection in the public domain; permission to publish or reproduce materials to which original creators hold copyright must be secured from the copyright holder.</p>

    </div>
  </div>
</div>

