<div class="col-xs-6 col-sm-4 col-md-3">
  <div class='artist_wrapper'>
    <div class='image_wrapper'>
      <%= link_to image_tag(artist.image, class: "artist_img"), artist_path(artist.slug) %>
      <div class="artist_title"><%= link_to artist.name.upcase, artist_path(artist.slug) %></div>
    </div>
    <div class='artist_desc'>
      <p><%= truncate(artist.biographical_note, length: 150, :escape => false)  %></p>
    </div>
  </div>
</div>
