<div class='col-xxs col-xs-6 col-lg-6'>
  <div class='artist_grid_item'>
    <div class='col-xs-12 col-lg-4 artist_grid_img'>
      <%= link_to image_tag(artist.image, class: "artist_img"), artist_path(artist.slug) %>
    </div>
    <div class='col-xs-12 col-lg-8 artist_grid_text'>
      <h5><%= link_to artist.name.upcase, artist_path(artist.slug), :class => "artist_name" %></h5>
      <%= truncate(artist.biographical_note, length: 200, :escape => false) %>
    </div>
  </div>
</div>
