<% provide(:title, "Artist: " + @artist.name) %>
<div class='container-fluid'>
  <h4>ARTIST: <%= @artist.name.upcase %></h4>
  <div class='row'>
    <div class='col-xxs col-xs-6 col-md-4'>
      <%= image_tag(@artist.image, class: "artist_img") %>
    </div>
    <div class='col-xxs col-xs-6 col-md-8'>
      <%= @artist.biographical_note.html_safe %>
    </div>
  </div>
</div>
<div class='container-fluid grey_section'>
  <div class='row'>
    <div class='col-xs-12'>
      <h4>RECORDINGS</h4>
      <table class='table table-striped table-bordered'>
        <tr>   
          <th>Description</th>
          <th>Duration</th>
          <th>AIAMM</th>
        </tr>
        <%= render @related_song  %>
      </table>
    </div>
  </div>
</div>
