<% provide(:title, "Gaelic Athletes") %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12'>
      <h4>NY GAELIC ATHLETIC ASSOCIATION</h4>
      <p>The profiles below are placeholders pulled from the web.</p>
      <p>
        The Gaelic Athletic Association (GAA) was established in Ireland in 1884 as a part of the Gaelic Revival as a way to encourage the playing of Gaelic football and hurling. Gaelic games had been played in America since the Irish first emigrated, but play was not standardized until enthusiasts in New York formed the city’s first GAA Board in 1914. They also sought to organize games with teams in other cities along the East Coast. The collection contains programs, fliers, clippings, and publications by and of the Gaelic Athletic Association, specifically regarding the playing of hurling and football at the three fields in the New York area in the middle of the twentieth century.
      </p>
    </div>
  </div>
</div>

<div class='container-fluid grey_section'>
  <div class='row'>
    <div class='col-xs-12'>
      <%= render @gaelic_grid  %>
    </div>
  </div>
</div>



