<% provide(:title, "Gaelic Athletes") %>
<div class='container-fluid'>
  <div class='row'>
    <div class='col-xs-12'>
      <h4>GAELIC ATHLETES</h4>
      <p>The profiles below are placeholders pulled from the web.</p>
      <p>
    Sed vitae magna aliquet nisl iaculis condimentum. Suspendisse vel nisi in lorem ornare consequat eu quis leo. Etiam placerat turpis eget orci semper ullamcorper. Integer odio ex, faucibus in tellus euismod, laoreet pellentesque tellus. Nullam egestas, enim quis posuere sollicitudin, elit odio aliquam ipsum, facilisis dictum massa tortor at justo. Maecenas efficitur at nulla gravida iaculis.
      </p>
    </div>
  </div>
</div>

<div class='container-fluid grey_section'>
  <div class='row'>
    <div class='col-xs-12'>
      <%= render @gaelic_grid  %>
    </div>
  </div>
</div>



