<% provide(:title, "Finding Aids") %>
<div class='container-fluid'>
  <h4>FINDING AIDS</h4>
  <div class='row'>
    <div class='col-xs-12'>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nulla sem, facilisis a suscipit id, tempor vitae nisl. Nullam pulvinar, quam sit amet scelerisque euismod, odio arcu placerat massa, ut maximus elit libero sed mi. Morbi sagittis dignissim tincidunt. Sed massa lectus, egestas in ipsum tincidunt, aliquam ultrices felis. Vivamus vel turpis in quam consectetur tincidunt in quis sem. Phasellus mauris erat, tempor vel auctor id, auctor a leo. Maecenas vel accumsan est. Suspendisse finibus enim nec mi vulputate imperdiet. Nunc orci ex, eleifend eget magna a, faucibus scelerisque tellus. Cras eu blandit mauris.
    </div>
  </div>
</div>

<div class='container-fluid grey_section'>
  <div class='row'>
    <div class='col-xs-12'>
        <% @finding_aid.each do |fa| %>
          <div class="fa_index_item">
            <%= icon('angle-right') %> <%= link_to fa.title, finding_aid_path(fa.slug), class: "fa_title" %>
            <p><%= fa.abstract.html_safe %></p>
          </div>
        <% end %> 
    </div>
  </div>
</div>

