  <div class="col-xs-6 col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= link_to image_tag(document.document_file(:small), class: "document_img"), document_path(document.slug) %>
      <div class="caption">
        <p><%= document.title %></p>
      </div>
    </div>
  </div>
