  <div class="<% if document_counter == 0 %> col-xs-12 <% else %> col-xs-6 <% end %>doc_grid">
      <%= link_to image_tag(document.document_file(:small), class: "document_img"), document_path(document.slug) %>
      <% if document_counter == 0 %>  
        <div class='col-xs-12'>
          <%= document.title.upcase %>
        </div>
      <% end %>
  </div>
