  <div class="col-lg-12 doc_list">
      <div class="caption">
        <p><%= document.title %></p>
      </div>
      <%= link_to image_tag(document.document_file(:small), class: "document_img"), document_path(document.slug) %>
  </div>
