<% provide(:title, "Documents") %>
<div class='container'>
  <div class="bread">
    <span class='bread_first'>DOCUMENTS</span>
  </div>
  <div class='page_intro'>
    <p>
    The Mick Moloney Irish Americana collection consists of printed ephemera and published music documenting not only the development of musical traditions, but also the Irish and Irish American image in popular culture, with particular emphasis on ethnic perceptions and representations. A selection of the sheet music in this collection has been digitized and can be found here, with a fuller range available through the collection’s finding aid. The sheet music in the collection was published between 1817 and 1995, with the majority dating from between 1860 and 1930. The collection includes sheet music in a variety of sizes and styles: simple sheet music published using black and white lithographs from the 1800s, Tin Pan Alley publications of dramatic ballads and novelty songs from the late 19th and early 20th centuries, sheet music with highly stylized and colorful illustrations, and sheet music featuring portraits of prominent singers or actors. A wide range of themes and subjects are present, including comedic, novelty, sentimental, nostalgic, and political. The seepage of entertainment from public venues such as vaudeville into the domestic sphere created demand for such sheet music, and is inextricably tied to the emergence of the American middle class and its culture of consumption.
    </p>
  </div>
  <h4>CURATED DOCS OR RANDOM LIST</h4>
 
</div>
