// Bootstrap overrides
$grid-float-breakpoint: 760px; //Bootstrap navbar collapse
$navbar-default-bg: none;
$navbar-default-border: none;
$navbar-default-link-color: $lighter-grey;
$navbar-default-link-active-color: $dark-green;
$navbar-default-link-hover-color: $dark-green;
$navbar-default-link-active-bg: $white;
$navbar-height: 35px;
$body-bg: none;


// Responsive
$desktop: 1200px;
$laptop: 950px;
$tablet: 768px;
$phone: 767px;



