.songlist_wrapper {
  background-color: $light-blue;
  margin: 15px 0;
  padding: 0;

  .songlist_img_wrapper {
    img {
      float: left;
      padding-right: 10px;
    }
    p {
     padding: 15px 0 10px;
     font-size: 1.2em;
     border-bottom: 1px solid $lightest-grey;
    }
  }  
  ul li {
    list-style-type: none;
    margin-bottom: 5px;
  }
  .image_wrapper {
    .artist_name {
      a {
        color: $white;
      }
    }
  }

  .song_desc {
    clear: both;
    min-height: 140px;
    @media(max-width:$tablet) {
      min-height: 170px;
    }
    @media(min-width:$laptop) {
      min-height: 110px;
    }
  }
}

