.artist_grid_item {
  background-color: $light-blue;
  overflow: auto;
  margin: 10px;

  .artist_grid_img {
    padding: 0;

    img {
      width: 100%;
      max-width: 350px;
      display: block;
      margin: 0 auto;
      }
    }
  .artist_grid_text {
    min-height: 210px;
  
    a.artist_name {
      padding: 10px 0;
  
    }
  }
}


.image_wrapper {
  img {
    width: 100%;
  }
}
