html {
  background: $darkest-grey;
  background: url(asset-path("background.jpg")) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

body {
  height:100%
}

img {
  width: 100%;
}

.page_content {
  position: relative;
  font-family: $base-font-family;
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
  background-color: $white;

  .container-fluid {
    padding: 2%;
  }

  .page_wrap {
    padding-bottom: 50px;
    background-color: $white;
  }
}

@media (max-width: 480px) { 
   .col-xxs {
     display:block;
     float:none;
     width: 100%;
  }
}

.grey_section {
  background-color: $lightest-grey;
  border-top: 1px solid $light-grey;
  img {
    padding-bottom:10px;
  }
}

