html {
  background: $darkest-grey;
}

body {
  background-size: cover;
  background: no-repeat top center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.page_content {
  background-color: $white;
  font-family: $base-font-family;
  margin: 0 auto;
  width: 98%;
  max-width: 1200px;
  .container-fluid {
    padding: 2%;
  }
}

@media (max-width: 480px) { 
   .col-xxs {
      display:block;
      float:none;
      width: 100%
   }
}
