html {
  background-size: cover;
  background-color: #808080;
  background: no-repeat top center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.page_content {
  background-color: $white;
  font-family: $base-font-family;
  margin: 0 auto;
  width: 98%;
  max-width: 1200px;
  border-radius: 2px;
  .container-fluid {
    padding: 2%;
    .track_col {
      border-right: 1px solid $lightest-grey;
    }
  }
}

img.songlist_img {
  width: 100%;  
  max-width: 300px; 
}
