.doc_col {
  border-right: 1px solid $lightest-grey;
}

.doc_grid {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding:  15px 10px 20px 10px;
  position: relative;
  img {
    width: 100%;
    max-width: 350px;
  }
}

