.doc_col {
  border-right: 1px solid $lightest-grey;
}

.doc_grid {
  margin: 0 auto;
  display: block;
  text-align: center;
  padding:  15px 10px 20px 10px;
  position: relative;
  img {
    width: 100%;
    max-width: 350px;
  }
}

.doc_wrapper {
  background: $light-blue;
  padding: 20px;
  .doc_img { 
    img {
      width: 100%;
    }
  }
}

.doc_page_grid {
  padding: 3% 0 30px 0;
  .doc_grid_item {
    padding: 10px;
    img {
      max-width: 100%;
      max-height: 200px;
      overflow: hidden;
    }
  }
}
