.finding_aid_about {
  tbody > tr > td {
    padding: 10px;
    vertical-align: top;

    &:nth-of-type(odd) {
      width: 25%;
      font-weight: 700;
    }
  }
}

.nav-tabs.nav-justified > li > a {
  border-radius: 0;
}

#top-link-block.affix-top {
    position: absolute;
    bottom: -82px;
    right: 10px;
}
#top-link-block.affix {
    position: fixed;
    bottom: 18px;
    right: 40px;
}
