footer {
  clear: both;
  background-color: $dark-blue;
  padding: 30px 30px 20px;
  text-align: center;
  font-family: $base-font-family;
  position: absolute;
  bottom: 0;
  width: 100%;
  ul {
    list-style-type: none;
    width: 100%;
    li {
      font-size: .85em;
      display: inline;
      padding: 0 15px;
      a {
        color: $lightest-grey;
      }
    }
  }
}

