.gaelic_athlete_grid_item {
  margin: 10px;
  background: $white;
  overflow: hidden;
  border: 1px solid $lighter-grey;
  .gaelic_athlete_grid_text {
    padding: 10px 2%;
    h5 {
      padding: 0;
      text-align: left;
      margin: 0 0 10px 0;
    }
  }
  .gaelic_athlete_grid_img {
    padding: 0;
    .gaelic_athlete_img {
      margin: 0;
      padding: 0;
    }
  }
}
