// Styles for logo and nav, check variables for bootstrap nav overrides 
.header {
  margin: 0 auto;
  width: 95%;
  max-width: 1200px;
  img {
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 700px;
    padding: 9% 0 10% 0;
    @media(max-width:$tablet) {
      width: 100%;
      padding: 15% 0 5% 0;
    }
  }
}

.navbar {
  background-color: $dark-blue;
  border:0;
  border-radius: 0!important;
  margin: 0 auto;
  width: 95%;
  max-width:1200px;
  
  .navbar-toggle {
    margin: 10px;
  }

  @media(min-width:$grid-float-breakpoint) {
    ul.nav {
      float:right;
    }
  }
}

