// Styles for logo and nav, check variables for bootstrap nav overrides 

.header {
  img {
    display: block;
    margin: 0 auto;
    width: 70%;
    max-width: 700px;
    padding: 1% 0 7% 0;
    @media(max-width:$tablet) {
      width: 100%;
    }
  }
}

.navbar {
  margin-bottom: 20px;
  @media(max-width:$grid_float_breakpoint) {
  }
  .navbar-toggle {
    margin: 10px;
  }
  .navbar-collapse.in {
    overflow-y: visible;
  }
  .navbar-nav {
    li {
      padding-left: 3px;
      padding-right: 3px;
      a {
        color: $white;
      }
    }  
    @media(min-width:$tablet) {
      display: inline-block;
      float: none;
      vertical-align: top;
    }
  }
  .navbar-header {
    margin-bottom: 20px;
  }
  .navbar-collapse {
    margin: 0 auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    @media(min-width:$grid_float_breakpoint) {
      text-align: center;
    }
  }
}

