.songlist_wrapper {
  background-color: $light-blue;
  border: 1px solid $lightest-grey;
  margin: 15px 0;
  padding: 0;
  overflow: auto;

  a {
    color: $dark-grey;
  }

  ul li {
    padding: 10px;
    list-style-type: none;
    margin-bottom: 5px;

    &:before {
      content: "\f105";
      font-family: FontAwesome;
      padding-right: 10px;
      color: $green;
    }
  }
 
  .songlist_img_wrapper {
    img {
      float: left;
      padding-right: 10px;
      width: 40%;
      max-width: 300px; 
      @media(max-width:$phone) {
        padding-right: 0;
        padding-top: 25px;
        float: none;
        margin: 0 auto;
        display: block;
        width: 100%;
      }
    }

    p {
     padding: 15px 0 10px;
     font-size: 1.2em;
     border-bottom: 1px solid $lightest-grey;
     @media(max-width:$tablet) {
       text-align: center;
     }
    }
  }  

  .song_desc {
    clear: both;
    min-height: 140px;
    @media(max-width:$tablet) {
      min-height: 170px;
    }
    @media(min-width:$laptop) {
      min-height: 110px;
    }
  }
}



// For individual song pages and grid
.song_wrapper {
  padding-top: 50px;
  a {
    color: $dark-grey;
  }
}

.song_player {
  background: $darkest-grey;
  margin-bottom: 20px;
  overflow: hidden;
  .embed_wrapper {
    position: relative;
    width: 60%;
    float: left;
    @media(max-width:$laptop) {
      width: 100%;
      float: none;
    }

    img {
      width: 100%;
    }
  }
  .song_metadata {
    color: $white;
    width: 38%;
    float: right;
    padding: 2%;
    font-size: .90em;
    @media(max-width:$laptop) {
      width: 100%;
      float: none;
    }
    a {
      color: $red;
    }
    ul { 
      margin: 0 auto;
      padding: 5% 0;
      width: 100%;
      text-align: center;
      clear: both;
      li {
        list-style-type: none;
        display: inline;
        padding: 0 8%;
        font-size: 2em;
        a {
          color: $dark-grey;
        }
        a:hover {
          color: $red;
        }
      }
    }
    .song_title {
      font-family: $heading-font-family;
      font-size: 1.2em;
      line-height: 1.3em;
      border-bottom: 1px solid $lightest-grey; 
      padding: 10px 0;
      margin-bottom: 20px;
    }
    .song_description {
     margin-bottom: 10px;
   }
  }
}
