<footer>
  <nav>
    <ul>
      <li><%= link_to "RIGHTS STATEMENT", "/rights-statement" %></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li>© 2015 Tamiment Library</li>
    </ul>
  </nav>
</footer>
