<footer>
  <nav>
    <ul>
      <li><%= link_to "RIGHTS STATEMENT", :controller => :static_pages, :action => :rights_statement %></li>
      <li><a href="#">Link 2</a></li>
      <li><a href="#">Link 3</a></li>
      <li>© 2015 TAMIMENT LIBRARY</li>
    </ul>
  </nav>
</footer>
